<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Hi</h1>
  <ul id="messages"></ul>
  <ul id="your_pair"></ul>
  <button onclick="GenBrowser.send(client.state.pair_up, {pair_me: client.address, display_name: 'dan'})">Pair up</button>
  <button onclick="GenBrowser.send(client.state.pair, {text: 'Hello'})">Send</button>
  <script type="text/javascript">
    function GenBrowser({init, handle_info}){
      var client = this
      init = init.bind(client)
      handle_info = handle_info.bind(client)
      var eventSource
      this.start = function (path) {
        eventSource = new EventSource(path)
        eventSource.addEventListener('gen_browser', function (event) {
          var {id, address, config} = JSON.parse(event.data)
          client.id = id
          client.address = address
          client.state = init(config)
        })
        eventSource.addEventListener('message', function (event) {
          var data = JSON.parse(event.data)
          client.state = handle_info(data, client.state)
        })
      }
    }
    GenBrowser.send = function (address, data) {
      fetch('http://localhost:8080/mailbox/' + address, {
        method: 'POST',
        body: JSON.stringify(data),
        mode: 'no-cors'
      })
    }
  </script>
  <script type="text/javascript">
    var $message = document.getElementById('messages')
    var $your_pair = document.getElementById('your_pair')
    displayUpdate = function (text) {
      var line = "<li>" + text +"</li>"
      $message.innerHTML = line + $message.innerHTML
    }

    var client = new GenBrowser({
      init: function(state){
        console.log(state)
        return state
      },
      handle_info: function(message, state){
        console.log(message)
        if (message.your_pair) {
          console.log('paired with', message.your_pair)
          state.pair = message.your_pair
          your_pair.innerHTML = message.your_pair
        }
        if (message.text) {
          displayUpdate(message.text)
        }
        return state
      }
    })
    client.start('mailbox')
    window.client = client;
  </script>
</body>
</html>
